/* plan detail */

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.base{
    margin-top: 30px;
    width: 328px;
    height: 610px;
    background: #FFFFFF;
    border: 1px solid #DDE3ED;
    border-radius: 8px;
    }
    
    .title{
    width: 216px;
    height: 24px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #060B25;
    }
    
    .text{
    width: 321px;
    height: 24px;
    font-family: Poppins;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #58606E;
    }

    .imgCont{
    width: 328px;
    height: 280px;
    }
    
    
    .cost {
        width: 52px;
        height: 20px;
        background: #1F61F7;
        border-radius: 4px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.2px;
        color: #F5F7FA;
        }

    